.site_template_item
{
    width: 200px;
    height: 230px;
    background: #DDD;
    margin-top: 20px;
    text-overflow: ellipsis;
}

.site_template_name
{
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
}

.site_template_description
{
}

.site_template_item.selected
{
    background: #fff2a8;
}